body {
    font-family: arial;
    background-color: #c0c0c0;
    }
  
h1 {
  color: 006400;
  text-align: center;
  }

h2{
  color: #006400; 
  margin: auto;
}

p{
  text-align: justify;
  }
  
figure{
  text-align: center;
  background-position: center;
  }

table {
  border: auto;
  background: #7fff00;
  }

th, td {
  border: auto;
  padding: 5px;
  width: 100px;
  }

tr:nth-child(even) {
    background-color: #008000;
    }
tr:nth-child(odd) {
    background-color: #00ff00;
    }
    
