body {
    font-family: arial;
    background-color: #fffff0;
    }
  
h1 {
  color: #ff0000;
  text-align: center;
  }

h2{
  color: #006400; 
  margin: auto;
}

p{
  text-align: justify;
  }
  
figure{
  text-align: center;
  background-position: center;
  }

table {
  margin: auto;
  background: #7fff00;
  }

th, td {
  border: none;
  padding: 5px;
  width: 100px;
  }
