/*CSS FEITO POR BRUNNO PAPIS GUSMÃO (SP3024148)*/
#tabela{
    text-align: center;
    border: solid;
    /*background-color: #ffffff;*/
    background-color: red;
    /*font-size: 85%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
th , td {
    border:solid;
    color: #000000;
    text-align: center;
    padding: 5px;
    width: 100px;}
#nao_participou{
        background-color: #ececec; 
        color: grey; 
        vertical-align: middle; 
        text-align: center;
        /*font-size: 85%;*/}
