#main{
	padding:5px;
	background-color:navy;
	display:grid;
	width:240px;
	height:280px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"display display display display"
	"limpa porcentagem multiplica divide"
	"sete oito nove igual"
	"quatro cinco seis menos"
	"um dois tres mais"
	"zero zero ponto mais";
}


#display{
grid-area:display;
text-align:right;
background:dodgerblue;
font-size:35px;
font-family:"Arial"
}

#divide{
grid-area:divide;
}

#porcentagem{
grid-area:porcentagem;
}

#multiplica{
grid-area:multiplica;
}

#mais{
grid-area:mais;
}

#menos{
grid-area:menos;
}

#sete{
grid-area:sete;
}

#oito{
grid-area:oito;
}

#nove{
grid-area:nove;
}

#quatro{
grid-area:quatro;
}

#cinco{
grid-area:cinco;
}

#tres{
grid-area:tres;
}

#dois{
grid-area:dois;
}

#um{
grid-area:um;
}

#ponto{
grid-area:ponto;
}

#zero{
grid-area:zero;
}

#igual{
grid-area:igual;
}

#seis{
grid-area:seis;
}
	
