#main{
	background-color:navy;
	display:grid;
	width:240px;
	height:280px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"display display display display"
	"clear porcentagem multiply divide"
	"seven eight nine equal"
	"four five six minus"
	"one two three plus"
	"zero zero dot plus";
}

#display{
grid-area:display;
text-align:right;
background:dodgerblue;
font-size:18px;
font-family:"Arial"
}

#divide{
grid-area:divide;
}

#porcentagem{
grid-area:porcentagem;
}

#multiply{
grid-area:multiply;
}

#plus{
grid-area:plus;
}

#minus{
grid-area:minus;
}

#seven{
grid-area:seven;
}

#eight{
grid-area:eight;
}

#nine{
grid-area:nine;
}

#four{
grid-area:four;
}

#five{
grid-area:five;
}

#three{
grid-area:three;
}

#two{
grid-area:two;
}

#one{
grid-area:one;
}

#dot{
grid-area:dot;
}

#zero{
grid-area:zero;
}

#equal{
grid-area:equal;
}

#six{
grid-area:six;
}
	
