#a Principal{ 
 display: grade; 
 } 

#a Principal{ 
 display: grade; 
 grid-template-columns: 20vw auto 20vw; 
 grid-template-rows: 15vh auto; 
 grid-template-areas: "cabeçalho do cabeçalho" 
 "leftSB content rightSB"; 
 } 
 #cabeçalho{ 
 área de grade: cabeçalho; 
 } 
 #leftSB { 
 área de grade: leftSB; 
 } 
 #rightSB { 
 área de grade: rightSB; 
 } 
 #conteúdo{ 
 área de grade: conteúdo; 
 } 
